/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/* Phone screen */
@media (max-width: 48rem) {
  /* Navigation bar */
  nav {
    padding: 1.5rem 1rem;
    margin-top: 2rem;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
  }

  #logo {
    display: flex;
    align-items: center;
  }

  #logo > img {
    height: 2.5rem;
    margin-left: 1rem;
  }

  #nav-list {
    display: none;
  }

  #search-menu {
    display: flex;
    align-items: center;
  }

  #search-menu > button {
    background-color: transparent;
    border: none;
  }

  #search-menu img {
    height: 2rem;
    margin-right: 1.5rem;
  }

  /* Header */
  header {
    display: flex;
    flex-direction: column;
  }

  #header-content {
    margin: 0 2rem;
  }

  #header-content > div {
    display: flex;
    flex-direction: column;
  }

  #header-content > h1 {
    font-size: 5rem;
    color: #f3eae2;
    text-align: center;
  }

  #header-content > p {
    font-size: 1.8rem;
    color: #f3eae2;
    text-align: center;
    font-weight: 400;
  }
  #header-content > p > a {
    font-weight: 700;
    text-decoration: none;
    color: #ecb12f;
  }

  #button-section {
    padding: 5%;
  }

  #button-section > button {
    height: 4.5rem;
    margin: 0.75rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0.5rem;
  }
  #btn-1 {
    color: #540b51;
  }
  #btn-2 {
    display: flex;
    align-items: center;
    justify-content: stretch;
    background-color: #4285f4;
  }

  #btn-2 > span {
    width: 100%;
    color: #f3eae2;
  }

  #btn-2 > img {
    position: absolute;
    z-index: 0;
    height: 3.5rem;
    padding: 0 0.3125rem;
    background-color: #f3eae2;
  }

  #header-img {
    overflow: hidden;
  }

  /* Main section */
  #section-1 {
    background-color: #f3eae2;
    padding: 1rem 0;
    margin: 0;
  }

  #section-1 > p {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding-top: 1rem;
  }

  #section-1 > div > img {
    height: 3rem;
    margin-top: 2rem;
  }

  #section-1 > div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2rem;
  }

  #section-2 {
    background-color: whitesmoke;
    margin: 0;
  }

  #section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #section-2 > h3 {
    font-size: 2.5rem;
    text-wrap: wrap;
    text-align: center;
    color: #540b51;
    padding: 0 10%;
    padding-top: 5%;
  }

  #section-2 > p:first-of-type {
    text-wrap: wrap;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 2rem;
  }

  #section-2 > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #section-2 > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-top: 3rem;
  }

  #section-2 > ul > li span {
    font-size: 4rem;
    font-weight: 700;
    color: #540b51;
    margin-bottom: 0;
  }

  #section-2 > ul > li > p {
    margin: 0;
  }

  #section-2 > ul > li > p + p {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    width: 20rem;
  }

  #footnote {
    margin: 2rem;
  }

  #section-3 {
    color: #f3eae2;
    display: flex;
    flex-direction: column;
  }

  #section-3 > h3 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 0 10%;
  }

  #section-3 > button {
    height: 4.5rem;
    margin: 0.75rem 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0.5rem;
    text-decoration: none;
  }

  #btn-3 {
    color: #540b51;
    background-color: white;
  }

  #btn-4 {
    background-color: #540b51;
    color: white;
    border-color: white;
    border-width: 0.2rem;
  }

  /* Footer */

  footer {
    padding: 0 2rem;
    background-color: whitesmoke;
  }
  
  footer hr {
    padding-top: 2.5rem;
    border: none;
  }
  
  #footer-links {
    border-top: solid rgba(175, 175, 175, 0.473) 3px ;
    list-style-type: none;
    padding: 1rem 0 0 0;
  }

  #footer-links > li {
    padding-top: 5%;
    font-size: 1.5rem;
    font-weight: bold;
  }

  #footer-links > li:last-child {
    color: #4285f4;
  }

  #icon-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    font-size: 3rem;
    padding: 0;
  }

  footer div {
    padding: 0 0 2.5rem 0;

    text-align: center;
    font-size: 1.5rem;
  }
}
